.clientsPageWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.buttons {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-bottom: 20px;
}

rect:nth-child(2) {
    stroke: #98d14a;
}

.title {
    justify-content: start;
    margin: 2em auto;
}

.clients-table {
    border-radius: 20px;
    border-color: transparent !important;
    border-style: none !important;
    background: #F5FFFA;;
    color: black;
    width: 90%;
    text-align: center;
}

.row-buttons {
    display: table-cell;
    margin: 0 auto;
}

#action-column {
    width: 20%;
}

.row-buttons {
    display: flex;
    margin-left: 2px;
}

.kill-command-button {
    padding-left: 20px;
}


.kill-command-button button {
    width: 12vh;
}

.send-command-button button {
    width: 12vh;
}

.property-name.col {
    font-weight: bold;
}

/*.col{*/
/*    border-bottom: 1px solid #a1a1a1;*/
/*}*/