.loginPageWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
rect:nth-child(2){
    stroke:#98d14a;
}
.title{
    justify-content: start;
    margin: 2em auto;
}


.login-buttons{
    margin-top: 20px;
    margin-bottom: 20px;
}
.login-inputs p{
    color:red;
}
/*.buttons-login button{*/
/*    font-size: 1.5em;*/
/*    padding:6px 16px;*/
/*}*/

/*.form-button{*/
/*    justify-content: flex-end;*/
/*    display: flex;*/

/*    padding-top: 10vh;*/
/*}*/

/*.login-form{*/
/*    justify-content: flex-end;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    position: relative;*/
/*}*/

/*.login-inputs{*/

/*}*/

button{
    background:#97d049;
    padding: 6px 14px;
    margin-left: 48px;
    border-radius: 10px;
    border:none;
    outline: none;
    font-size: 2em;
    min-width: 160px;
    font-weight: 80;
    transition: background 0.3s;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}
button:hover{
    cursor: pointer;
    color: black;
    background: rgba(153, 209, 75, 0.8);
}