.homePageWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

rect:nth-child(2) {
    stroke: #98d14a;
}

.title {
    justify-content: start;
    margin: 0 auto;
}

.graphs {
    width: 50%;
    margin-right: 55%;
    padding-top: 100px;
    display: flex;
    justify-content: center;
}
.bar-graph{
    padding-top: 1000px;
}
/*div[id^='canvasjs-react-chart-container']{*/
/*    width: auto !important;*/
/*}*/
/*.canvasjs-chart-canvas:nth-child(1){*/
/*    position: fixed;*/
/*    width: auto !important;*/
/*}*/
/*.canvasjs-chart-canvas:nth-child(2){*/
/*    width: auto !important;*/
/*}*/
/*.canvasjs-chart-canvas{*/
/*    padding-bottom: 10px;*/
/*}*/
/*.canvasjs-chart-toolbar{*/
/*    display: none;*/
/*}*/
/*canvas{*/
/* margin: 0 auto;*/
/*}*/

/*.doughnut-graph{*/
/*    padding-bottom: 50px;*/
/*}*/
/*.line-graph{*/
/*    padding-top: 20px;*/
/*    padding-bottom: 10px;*/
/*}*/
