* {
  margin: 0;
  padding: 0;
}
sidebar,
main,
footer,
nav,
aside,
section,
div {
  display: block;
}

.wrapper{
  background-image: url("./media/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  height: 100%;
  overflow: hidden;
}
